<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <RollingFile name="FileAppender" fileName="./logs/log4j2.log"
                     filePattern="./logs/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] level=%-5level %logger{36} - %message%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] level=%-5level %logger{36} - %message%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="br.com.martins.messengerMicrosservice" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
